.container {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
    height: 75vh;
    display: flex;
    align-items: center;
}

.headingSmall {
    color: #1570EF;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

.headingBig {
    margin-bottom: 2.4rem;
    font-size: 3.6rem;
}

.paragraph {
    color: #475467;
    margin-bottom: 4.8rem;
}

.btnGroup {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1.2rem;
}

.btnWhite,
.btnBlue {
    padding: 1.2rem 2rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.25);
    border-radius: 8px;
    transition: all .3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.btnWhite {
    color: inherit;
}

.btnBlue {
    background-color: #1570EF;
    color: #fff;
}

.btnBlue:hover,
.btnWhite:hover {
    box-shadow: 0px 1px 4px rgba(16, 24, 40, 0.25);
}

/* Small screens */
@media screen and (min-width: 480px) {
    .container {
        padding: 4rem;
    }

    .headingBig {
        font-size: 4.8rem;
    }
}

/* medium screens */
@media screen and (min-width: 720px) {
    .container {
        padding: 6rem;
    }

    .btnBlue,
    .btnWhite {
        padding: 1.6rem 2.8rem;
        width: fit-content;
    }

    .btnGroup {
        flex-direction: row;
    }

    .headingBig {
        font-size: 5.2rem;
    }
}

/* large Screens */
@media screen and (min-width: 1024px) {
    .container {
        padding: 8rem;
    }

    .headingBig {
        font-size: 6rem;
    }
}