.container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin-top: 3rem;
}

.listitem:nth-child(2) {
    color: var(--color-grey);
}

.listitem img {
    width: 80%;
}

/* large screens */
@media screen and (min-width: 840px) {
    .container {
        justify-content: space-between;
        padding: 5rem 10rem;
    }
}