@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  /* Define variables */
  --color-dark: #101828;
  --color-gray: #EAECF0;
  --color-grey: #667085;
  --color-light: #FFFFFF;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li,
a {
  font-size: 1.6rem;
  color: var(--color-dark);
  text-decoration: none;
  list-style-type: none;
}

/* Base styles */
html {
  font-size: 62.5%;
  /* Defines 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: Inter, sans-serif;
}