:root {
  /* Define variables */
  --color-dark: ;
  --color-gray: ;
  --color-light: #fff;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Base styles */
html {
  font-size: 62.5%;
  /* Defines 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-dark);
  background-color: var(--color-light);
}