:root {
  /* Define variables */
  --color-dark: #291F1E;
  --color-gray: #dfdfdc;
  --color-light: #F8F4F9;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li,
a {
  font-size: 1.6rem;
  color: var(--color-dark);
  text-decoration: none;
  list-style-type: none;
}

/* Base styles */
html {
  font-size: 62.5%;
  /* Defines 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--color-dark);
  background-color: var(--color-light);
}